<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <div style="text-align: center;">
        <h1>Write down your password you want to save.</h1>
            <form method = "POST">
                <label for="pswd">Password:</label>   <br>
                <input type = "text" id = "pswd" name = "password"><br>
                <input type = "submit" value = "Submit">


            </form>
        <h1><button><a href = "save_forget.html">Go back</a></button></h1>
    </div>
</head>
<body>

</body>
</html>