<!DOCTYPE html>
<html>
<body>

<form method = "POST">
    <div style="text-align: center;">
        <form method = "POST">
            <h1>
            <input type = "radio" name = "options" id = "1" value = "password">Create new password or revise already created one.</input><br>
            <input type = "radio" name = "options" id = "2" value = "hi">Say HI <3.</input><br>
            </h1>
            <h1><input type = submit value = continue></h1>
        </form>
    </div>

</form> 

</body>
</html>
