<!DOCTYPE html>
<html lang='cs'>
  <head>
  
    <title></title>
    <link type="text/css" href="/static/styles/Styles.css" rel="stylesheet">
    <meta charset='utf-8'>

  </head>
  <body>
     <div class = "tracker1">
        <center>
            <h1>Hello, this is password saver.</h1>
        </center>
    </div>
    
        <center>     
            <button type="button" class = "forward">
                <a href = "welcome.html"> Continue </a>
            </button>
        </center>
        
  </body>
</html>
