<!DOCTYPE html>
<html>
<body>

<h2>Select something depending on your situation</h2>

<p>Choose your favorite Web language:</p>

<form method = "POST">
  <input type="radio" id="forgot" name="password_saver" value="forget">
  <label for="forgot">I forgot my password.</label><br>

  <input type="radio" id="saved" name="password_saver" value="save">
  <label for="saved">I want to save my password.</label><br>

  <input type="radio" id="met" name="password_saver" value="meet">
  <label for="met">I just wanted to say hello.</label>
</form> 

</body>
</html>
